<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main_lay.css')}}">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
    <title>수출철근 입출고</title>
</head>


<body>

    <div class="layout">

        <header class="header">
            <div class="date-box">2026-06-17</div>

            <nav class="nav">
                <button onclick="list_up()">목록생성</button>
                <button id="btnIn">입고</button>
                <button id="btnShip">선적</button>
                <button id="btnReturn">반품</button>
            </nav>

            <a href="#" class="home-btn">HOME</a>
        </header>

        <main class="content">

            <section class="company-area hyundai-area">
                <div class="company-title hyundai-title">
                    <div class="company-info">

                        <div class="company-label hyundai-label">
                            <a href="#" style="color: white;">현대제철</a>
                        </div>

                        <div class="plan-label">
                            예정 {{ hyundai_cnt }}모선
                        </div>
                        <div class="stock-label" style="color: red;">
                            총합계:{{ "{:,}".format(hyundai_total_bundle+dongkuk_total_bundle) }} B/D
                            {{ "{:,.3f}".format(hyundai_total_weight+dongkuk_total_weight) }} M/T
                        </div>

                        <div class="stock-label">
                            현대합계: {{ "{:,}".format(hyundai_total_bundle) }} B/D {{ "{:,.3f}".format(hyundai_total_weight) }} M/T
                        </div>

                    </div>
                </div>

                <div class="table-scroll">

                    <table>

                        <thead>
                            <tr>
                                <th>체크</th>
                                <th>순번</th>
                                <th>선적월</th>
                                <th>선적명</th>
                                <th>단면색</th>
                                <th>사이즈</th>
                                <th>강종</th>
                                <th>길이</th>
                                <th>번들</th>
                                <th>톤수</th>
                                <th>단중</th>
                                <th>저장일시</th>
                                <th>비고</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in hyundai_list %}
                            <tr ondblclick="openPlan('{{row.id}}')">
                                <th><input type="checkbox" class="check" value="{{row.id}}"></th>
                                <td>{{ loop.index }}</td>
                                <td>{{ row.ship_month }}</td>
                                <td>{{ row.vessel_name }}</td>
                                <td>{{ row.color_name }}</td>
                                <td>{{ row.size_name }}</td>
                                <td>{{ row.steel_type }}</td>
                                <td>{{ row.length_m }}</td>
                                <td>{{ row.total_bundle }}</td>
                                <td>{{ "%.3f"|format(row.total_weight) }}</td>
                                <td>{{ "%.3f"|format(row.total_weight / row.total_bundle) }}</td>
                                <td title="{{row.created_at }}">{{ row.created_at }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>
            </section>

            <section class="company-area dongkuk-area">
                <div class="company-title dongkuk-title">
                    <div class="company-info">

                        <div class="company-label dongkuk-label">
                            <a href="#" style="color: white;">동국제강</a>
                        </div>

                        <div class="plan-label dongkuk-plan">
                            예정 {{ dongkuk_cnt }}모선
                        </div>

                        <div class="stock-label">
                            동국합계:{{ "{:,}".format(dongkuk_total_bundle) }}  B/D {{ "{:,.3f}".format(dongkuk_total_weight) }} M/T
                        </div>

                    </div>
                </div>

                <div class="table-scroll">
                    <table>
                        <tr>
                            <th>순번</th>
                            <th>선적월</th>
                            <th>선적명</th>
                            <th>사이즈</th>
                            <th>강종</th>
                            <th>길이</th>
                            <th>번들</th>
                            <th>톤수</th>
                            <th>단중</th>
                            <th>저장일시</th>
                            <th>비고</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for row in dongkuk_list %}
                            <tr ondblclick="openPlan('{{row.id}}')">
                                <th><input type="checkbox" class="check" value="{{row.id}}"></th>
                                <td>{{ loop.index }}</td>
                                <td>{{ row.ship_month }}</td>
                                <td>{{ row.vessel_name }}</td>
                                <td>{{ row.size_name }}</td>
                                <td>{{ row.steel_type }}</td>
                                <td>{{ row.length_m }}</td>
                                <td>{{ row.total_bundle }}</td>
                                <td>{{ "%.3f"|format(row.total_weight) }}</td>
                                <td>{{ "%.3f"|format(row.total_weight / row.total_bundle) }}</td>
                                <td title="{{row.created_at }}">{{ row.created_at }}</td>
                                <td></td>
                            </tr>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <footer class="footer">
            OUT_DBAR 입고 현황 시스템 &copy;bumychoi
        </footer>
    </div>


    <!-- <div id="listModal" class="modal">
        <div class="modal-box">
            <h2>목록생성</h2>

            <button onclick="closeListModal()">닫기</button>
        </div>
    </div> -->
</body>